@using Reverb.Web.Models.Create
@model  CreateAlbumViewModel

@{
    ViewBag.Title = "THIS IS REVERB";
}

<nav class="navbar navbar-custom">
    <div class="container">
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Song", "CreateSong", "Create")</li>
                <li>@Html.ActionLink("Album", "CreateAlbum", "Create")</li>
                <li>@Html.ActionLink("Artist", "CreateArtist", "Create")</li>
                <li>@Html.ActionLink("Genre", "CreateGenre", "Create")</li>
            </ul>
        </div>
    </div>
</nav>

<section id="contact">
    <div class="container content-section text-center">
        <div class="row">
            @using (Html.BeginForm("CreateAlbum", "Create", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4>Create Album</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:15px;" } })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Artist, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(x => x.Artist, Model.AllArtists.Select(x => new SelectListItem() { Text = x, Value = x }), new { @class = "form-control", @style = "margin-bottom:15px;" })
                        @Html.ValidationMessageFor(m => m.Artist, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CoverUrl, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.CoverUrl, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:15px;" } })
                        @Html.ValidationMessageFor(m => m.CoverUrl, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-3">
                        <input type="submit" class="btn btn-success" value="Save" style="width: 100%" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}
