@using Reverb.Web.Models.Create
@model  CreateSongViewModel

@Html.ActionLink("Song", "CreateSong", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Album", "CreateAlbum", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Artist", "CreateArtist", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Genre", "CreateGenre", "Create", null, new { @class = "btn btn-primary" })
<br />

@using (Html.BeginForm("CreateSong", "Create", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Create Song</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => Model.Title, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:15px;" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Album, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Album, Model.AllAlbums.Select(x => new SelectListItem() { Text = x, Value = x }), new { @class = "form-control", @style = "margin-bottom:15px;" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Artist, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.Artist, Model.AllArtists.Select(x => new SelectListItem() { Text = x, Value = x }), new { @class = "form-control", @style = "margin-bottom:15px;" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.VideoUrl, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.VideoUrl, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:15px;" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Duration, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.Duration, new { htmlAttributes = new { @class = "form-control", @style = "margin-bottom:15px;" } })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Genres, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ListBoxFor(x => x.Genres, Model.AllGenres.Select(x => new SelectListItem() { Text = x, Value = x }), new { @class = "form-control", @style = "margin-bottom:15px;" })
        </div>
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Lyrics, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Lyrics, new { @class = "form-control", @style = "margin-bottom:15px;" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Save" />
        </div>
    </div>
}