@using Reverb.Web.Models.Create
@model  CreateSongViewModel

@Html.ActionLink("Song", "CreateSong", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Album", "CreateAlbum", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Artist", "CreateArtist", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Genre", "CreateGenre", "Create", null, new { @class = "btn btn-primary" })
<br />

@using (Html.BeginForm("CreateSong", "Create", FormMethod.Post))
{
    <p>Title</p>
    @Html.EditorFor(x => x.Title)
    <p>Album</p>
    @Html.DropDownListFor(x => x.Album, Model.AllAlbums.Select(x => new SelectListItem() { Text = x, Value = x }))
    <p>Artist</p>
    @Html.DropDownListFor(x => x.Artist, Model.AllArtists.Select(x => new SelectListItem() { Text = x, Value = x }))
    <p>Duration</p>
    @Html.EditorFor(x => x.Duration)
    <p>Genres</p>
    @Html.ListBoxFor(x => x.Genres, Model.AllGenres.Select(x => new SelectListItem() { Text = x, Value = x }))
    <p>Lyrics</p>
    @Html.TextAreaFor(x => x.Lyrics)

    <input type="submit" class="btn btn-success" value="Save" />
}