@using Reverb.Web.Models.Create
@model  CreateArtistViewModel

@Html.ActionLink("Song", "CreateSong", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Album", "CreateAlbum", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Artist", "CreateArtist", "Create", null, new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Genre", "CreateGenre", "Create", null, new { @class = "btn btn-primary" })
<br />

@using (Html.BeginForm("CreateArtist", "Create", FormMethod.Post))
{
    <p>Artist's name</p>
    @Html.EditorFor(x => x.Name)

    <input type="submit" class="btn btn-success" value="Save" />
}