@using Reverb.Web.Models.Song
@model SongViewModel

@*
    TODO: Create better card for songs
*@
<div class="card">
    <p><b>@Model.Title</b></p>
    <p>@Model.Album</p>
    <p>@Model.Artist</p>
    <p>@Model.Lyrics</p>

    @if (!User.Identity.IsAuthenticated)
    {

    }
    else if (!Model.Users.Contains(User.Identity.Name))
    {
        using (Ajax.BeginForm(
                "AddToFavorites",
                "Song",
                new { songId = Model.Id },
                new AjaxOptions
                {
                    HttpMethod = "POST"
                }))
        {
            <input type="submit" class="btn btn-primary" value="Favorite" />
        }
    }
    else if(Model.Users.Contains(User.Identity.Name))
    {
        using (Ajax.BeginForm(
                        "RemoveFromFavorites",
                        "Song",
                        new { songId = Model.Id },
                        new AjaxOptions
                        {
                            HttpMethod = "POST"
                        }))
        {
            <input type="submit" class="btn btn-primary" value="Unfavorite" />
        }
    }

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "EditSong", "Song", new { songId = Model.Id }, new { @class = "btn btn-warning" })
    }

</div>