@using Reverb.Web.Models.Song
@model SongViewModel

@using (Html.BeginForm("EditSong", "Song", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <p>Title</p>
    @Html.EditorFor(x => Model.Title)
    <br />
    <p>Album</p>
    @Html.DropDownListFor(x => x.Album, Model.AllAlbums.Select(x => new SelectListItem() { Text = x, Value = x }))
    <br />
    <p>Artist</p>
    @Html.DropDownListFor(x => x.Artist, Model.AllArtists.Select(x => new SelectListItem() { Text = x, Value = x }))
    <br />
    <p>Video URL</p>
    @Html.EditorFor(x => x.VideoUrl)
    <br />
    <br />
    <p>Album cover image</p>
    @Html.EditorFor(x => x.CoverUrl)
    <p>Duration</p>
    @Html.EditorFor(x => x.Duration)
    <br />
    <p>Genres</p>
    @Html.ListBoxFor(x => x.Genres, Model.AllGenres.Select(x => new SelectListItem() { Text = x, Value = x }))
    <br />
    <p>Lyrics</p>
    @Html.TextAreaFor(x => x.Lyrics)
    <br />
    @Html.HiddenFor(x => x.Users)

    <input type="submit" class="btn btn-success" value="Save" />
}